.overlay {
    position: fixed;
    z-index: 999;
    inset: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #00000080;
    overflow-y: overlay;
    -webkit-animation: fade-in ease-out 0.3s;
    -moz-animation: fade-in ease-out 0.3s;
    -ms-animation: fade-in ease-out 0.3s;
    -o-animation: fade-in ease-out 0.3s;
    animation: fade-in ease-out 0.3s;
}
.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    height: max-content;
    min-height: 100%;
    overflow: hidden;
    background: var(--color-white);
    transform-origin: top;
    -webkit-animation: unfold-in ease-out 0.5s;
    -moz-animation: unfold-in ease-out 0.5s;
    -ms-animation: unfold-in ease-out 0.5s;
    -o-animation: unfold-in ease-out 0.5s;
    animation: unfold-in ease-out 0.5s;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        height: 64px;
        span {
            font-size: 2rem;
            font-weight: 600;
            color: var(--color-text);
            letter-spacing: 0;
        }
    }
    .body {
        flex: 1;
        display: flex;
        align-items: stretch;
    }
}

@media (min-width: 768px) {
    .overlay {
        padding: 16px;
    }
    .wrapper {
        border-radius: 4px;
        box-shadow: 0 4px 8px 2px var(--color-shadow);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes unfold-in {
    0% {
        transform: scaleX(0.005) scaleY(0.005);
    }
    50% {
        transform: scaleX(1) scaleY(0.005);
    }
    100% {
        transform: scaleX(1) scaleY(1);
    }
}
