.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-white);
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px 8px;
    padding: 16px;
    border-bottom: 1px solid var(--color-border);
    .section {
        p {
            font-size: 1.6rem;
            font-weight: 500;
            color: var(--color-shadow);
        }
        p + p {
            margin-top: 8px;
        }
        .title {
            font-size: 1.8rem;
            font-weight: 600;
            color: var(--color-text);
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            text-overflow: ellipsis;
            white-space: normal;
            overflow: hidden;
            margin-bottom: 16px;
        }
    }
}
.body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 8px;
    padding: 8px 16px;
}
.footer {
    margin-top: auto;
    flex-shrink: 0;
    padding: 8px 16px;
    border-top: 1px solid var(--color-border);
    table {
        width: 100%;
        border-collapse: collapse;
        tr {
            width: 100%;
            td {
                padding: 4px 0;
                text-align: right;
                font-weight: 500;
                font-size: 1.2rem;
                border: none;
                &:first-child {
                    color: var(--color-shadow);
                }
                &:last-child {
                    width: 50%;
                }
            }
            &:nth-child(4) {
                td {
                    &:last-child {
                        font-size: 2rem;
                        font-weight: 600;
                        color: var(--color-red);
                    }
                }
            }
        }
    }
}
@media (min-width: 768px) {
    .header {
        flex-direction: row;
        .section:last-child {
            .title {
                text-align: right;
            }
        }
    }
    .footer {
        table {
            tr {
                td {
                    padding: 8px 0;
                    font-size: 1.4rem;
                    &:last-child {
                        width: 30%;
                    }
                }
            }
        }
    }
}
