.wrapper {
    width: 100%;
    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 32px;
        p {
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 600;
            color: var(--color-text);
        }
    }
    .chart {
        width: 100%;
    }
}
