.background {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(34, 193, 195);
}
.wrapper {
    padding: 48px 16px;
    max-width: 480px;
    width: calc(100% - 16px);
    background-color: var(--color-white);
    border-radius: 16px;
}

.body {
    margin: 0 auto;
    max-width: 360px;
    width: 100%;
}
.title {
    text-align: center;
    font-size: 2rem;
}
.message {
    margin-top: 24px;
    height: 1rem;
    text-align: center;
    font-weight: 500;
    color: var(--color-red);
}
.row {
    margin-top: 24px;
    .label {
        color: var(--color-shadow);
        font-weight: 500;
    }
    .input {
        position: relative;
        width: 100%;
        input {
            padding: 12px 0;
            width: 100%;
            font-size: 1.6rem;
            border: none;
            outline: none;
            box-shadow: inset 0px -1.5px 0px 0px var(--color-border);
            transition: box-shadow 0.2s ease-in;
            &:focus {
                box-shadow: inset 0px -1.5px 0px 0px var(--color-primary);
            }
            &::-webkit-input-placeholder {
                opacity: 1;
                transition: opacity 0.25s ease-out;
            }
            &:hover::-webkit-input-placeholder,
            &:focus::-webkit-input-placeholder {
                opacity: 0;
            }
        }
        .eye-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            padding: 16px 2px;
            font-size: 2rem;
            color: var(--color-shadow);
            cursor: pointer;
        }
    }
}
.forgot-password {
    display: flex;
    justify-content: end;
    margin-top: 24px;
}
.button {
    margin-top: 32px;
}
.other-method {
    margin-top: 48px;
    p {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: transparent;
        span {
            position: relative;
            z-index: 1;
            padding: 0 16px;
            background-color: #fff;
        }
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            height: 1.5px;
            background-color: var(--color-border);
        }
    }
    .group {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 16px;
        font-size: 3rem;
        .icon {
            &:hover {
                cursor: pointer;
            }
            &:nth-child(1) {
                color: #046ce2;
            }
            &:nth-child(2) {
                color: #f70000;
            }
            &:nth-child(3) {
                color: #00a7e6;
            }
            &:nth-child(4) {
                color: #ec5257;
            }
        }
    }
}
.register {
    margin-top: 48px;
    p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
    }
}
