.background {
    background-color: #afcbcb;
    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
        .left,
        .right {
            margin: 0 auto;
            width: 100%;
        }
    }
}

.cart {
    padding: 16px;
    background-color: var(--color-white);
    .title {
        margin-bottom: 16px;
        font-weight: 600;
        color: var(--color-text);
    }
    ul {
        list-style: none;
        li {
            width: 100%;
        }
        li + li {
            padding-top: 16px;
        }
    }
}

@media (min-width: 1024px) {
    .background {
        .wrapper {
            padding: 12px;
            gap: 12px;
            .left {
                width: calc(60% - 6px);
            }
            .right {
                width: calc(40% - 6px);
            }
        }
    }
}
