// VOUCHER
.wrapper {
    padding: 16px;
    background-color: var(--color-white);
}
.voucher {
    .title {
        margin-bottom: 16px;
        font-weight: 600;
        color: var(--color-text);
    }
    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 4px;
        gap: 8px;
        .voucher-input {
            flex: 1;
            height: 100%;
            input {
                width: 100%;
                height: 100%;
                padding: 8px 16px;
                font-size: 1.4rem;
                font-weight: 400;
                border-radius: 4px;
                border: 1px solid var(--color-border);
                outline: none;
            }
        }
    }
}

// SUMMARY

.summary {
    margin-top: 32px;
    .title {
        margin-bottom: 16px;
        font-weight: 600;
        color: var(--color-text);
    }
    .content {
        margin-bottom: 16px;
        p + p {
            margin-top: 8px;
        }
        p {
            display: flex;
            justify-content: space-between;
            padding: 0 4px;
            span {
                font-size: 1.4rem;
                color: var(--color-shadow);
                &:last-child {
                    font-size: 1.6rem;
                    font-weight: 500;
                    color: var(--color-text);
                }
            }
            &:nth-child(3) {
                padding-top: 8px;
                border-top: 1px solid var(--color-border);
                span {
                    font-size: 1.4rem;
                    color: var(--color-text);
                    &:last-child {
                        font-size: 2rem;
                        font-weight: 500;
                        color: var(--color-red);
                    }
                }
            }
        }
    }
}
