.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .message {
        text-align: center;
        font-weight: 500;
        color: var(--color-red);
    }
    .body {
        flex: 1;
        padding: 16px;
        overflow-y: overlay;
        list-style: none;
        li {
            width: 100%;
        }
        li + li {
            margin-top: 8px;
        }
    }
    .footer {
        flex-shrink: 0;
        padding: 16px;
        width: 100%;
        label {
            display: block;
            width: 100%;
            margin-bottom: 16px;
        }
    }
}
