.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    background: transparent;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-green);
    outline: none;
    border: none;
    cursor: pointer;
    &:hover {
        color: #0c713ddd;
    }
}
