.nav-item {
    width: 100%;
    height: 100%;
    .nav-link {
        display: block;
        padding: 0 16px;
        width: 100%;
        line-height: 64px;
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 600;
        color: #333;
        text-transform: uppercase;
    }
    .nav-link.actived {
        color: red;
    }
}
