.background {
    background-color: #afcbcb;
    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 16px;
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
    }
}

@media (min-width: 1024px) {
    .background {
        .wrapper {
            padding: 12px;
            gap: 12px;
        }
    }
}
