* {
    margin: 0;
    padding: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

// css
$textColor: #212121;
.main {
    background-color: rgb(175, 203, 203);
    .wrapper {
        max-width: 1200px;
        padding: 16px 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
}
