.wrapper {
    width: 39%;
    background-color: #fafafa;
}

// PAYMENT

.payment {
    background: #fff;
    padding: 8px 16px;

    .header {
        display: flex;
        justify-content: space-between;
        font-size: 1.6rem;
        color: #212121;
    }
    .body {
        margin-top: 8px;
    }
}

// PAYMENT ITEM

.payment-item {
    position: relative;
    border: 1px solid #0b99b9;
    box-shadow: 0 0 4px 0 #d2ffff;
    border-radius: 6px;
    cursor: pointer;
    .content {
        flex: 1;
        padding: 8px 16px;
        .header {
            display: flex;
            align-items: center;
            justify-content: start;
            padding-bottom: 8px;
            img {
                height: 28px;
                margin-right: 8px;
            }
            .text {
                font-size: 14px;
                color: #333;
            }
        }
        .footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 8px;
            border-top: 1px solid #ddd;
            .text {
                font-size: 12px;
                color: #757575;
            }
            .payment-list {
                display: flex;
                align-items: center;
                height: 100%;
                img {
                    max-height: 32px;
                }
            }
        }
    }
    .check {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        top: 0;
        padding: 8px;
    }
}
.payment-item + .payment-item {
    margin-top: 8px;
}

// VOUCHER

.voucher {
    padding: 12px 16px 0 16px;
    background: #fff;
    .title {
        font-size: 18px;
        color: #333;
        margin-bottom: 16px;
    }
    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 48px;
        margin-bottom: 4px;
        gap: 8px;
        .voucher-input {
            flex: 1;
            height: 100%;
            input {
                width: 100%;
                height: 100%;
                padding: 8px 16px;
                font-size: 14px;
                font-weight: 400;
                border-radius: 6px;
                border: 1px solid #0c713d;
                outline: none;
            }
        }
    }
}

// SUMMARY

.summary {
    padding: 12px 16px 0 16px;
    background: #fff;
    .title {
        font-size: 18px;
        color: #333;
        margin-bottom: 16px;
    }
    .content {
        width: 100%;
        .subtotal,
        .shipping-cost {
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;
            span {
                font-size: 14px;
                color: #757575;
                &:last-child {
                    font-size: 16px;
                    font-weight: 500;
                    color: #333;
                }
            }
        }
    }
}

// TOTAL

.sum-total {
    padding: 0 16px 16px;
    background: #fff;
    margin-top: 0;
    .price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 8px;
        margin-bottom: 12px;
        border-top: 1px solid #ddd;
        span {
            font-size: 14px;
            color: #202020;
            &:last-child {
                font-size: 16px;
                font-weight: 500;
                color: #f52432;
            }
        }
    }
}
