.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 8px;
    width: 100%;
    min-width: 60px;

    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-text);
    background-color: var(--color-white);
    box-shadow: none;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    outline: none;

    transition: ease-out 0.3s;
    animation: Slide linear 2s infinite;
    overflow: hidden;
    cursor: pointer;
    &::before {
        content: '';
        position: absolute;
        inset: -10%;
        background: linear-gradient(125deg, transparent 40%, #ffffff55 60%, transparent 80%);
        background-size: 400%;
        transition: ease-out 0.3s;
    }
    &:hover {
        box-shadow: 0 0 4px 1px var(--color-shadow);
    }
    &:hover::before {
        animation: Slide linear 5s infinite;
    }
}

// SIZE

.wrapper.tiny {
    height: 32px;
    font-size: 1.2rem;
}
.wrapper.medium {
    height: 40px;
    font-size: 1.4rem;
}
.wrapper.large {
    height: 48px;
    font-size: 1.6rem;
}

// SHAPE

.wrapper.rect {
    border-radius: 0;
}
.wrapper.rounded {
    border-radius: 6px;
}
.wrapper.pill {
    border-radius: 999px;
}

// COLOR

.wrapper.white {
    color: var(--color-text);
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
}
.wrapper.black {
    color: var(--color-white);
    background-color: var(--color-black);
}
.wrapper.primary {
    color: var(--color-white);
    background-color: var(--color-primary);
}
.wrapper.red {
    color: var(--color-white);
    background-color: var(--color-red);
}

// TYPE

.wrapper.info {
    color: var(--toastify-color-info);
    background-color: var(--color-white);
    border: 1px solid var(--toastify-color-info);
    &:hover {
        color: var(--color-white);
        background-color: var(--toastify-color-info);
    }
}
.wrapper.success {
    color: var(--toastify-color-success);
    background-color: var(--color-white);
    border: 1px solid var(--toastify-color-success);
    &:hover {
        color: var(--color-white);
        background-color: var(--toastify-color-success);
    }
}
.wrapper.warning {
    color: var(--toastify-color-warning);
    background-color: var(--color-white);
    border: 1px solid var(--toastify-color-warning);
    &:hover {
        color: var(--color-white);
        background-color: var(--toastify-color-warning);
    }
}
.wrapper.error {
    color: var(--toastify-color-error);
    background-color: var(--color-white);
    border: 1px solid var(--toastify-color-error);
    &:hover {
        color: var(--color-white);
        background-color: var(--toastify-color-error);
    }
}
.wrapper.cancel {
    color: var(--color-shadow);
    background-color: var(--color-white);
    border: 1px solid var(--color-shadow);
    &:hover {
        color: var(--color-white);
        background-color: var(--color-shadow);
    }
}

@keyframes Slide {
    from {
        background-position: 400%;
    }
    to {
        background-position: 0%;
    }
}
