.timeline {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    .time-node {
        display: flex;
        justify-content: flex-end;
        gap: 16px;
        .icon {
            position: relative;
            width: 32px;
            &::before {
                content: '';
                position: absolute;
                z-index: 2;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: var(--color-white);
                border: 2px solid var(--color-border);
            }
            &::after {
                content: '';
                position: absolute;
                z-index: 1;
                left: 50%;
                transform: translateX(-50%);
                width: 2px;
                height: 100%;
                background-color: var(--color-border);
            }
        }
        .description {
            text-align: right;
            margin: 8px 0;
            .content {
                font-size: 1.4rem;
                font-weight: 600;
                color: var(--color-text);
            }
            .time {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                gap: 4px 12px;
                span {
                    font-size: 1.4rem;
                    font-weight: 500;
                    color: var(--color-shadow);
                }
            }
        }
        &:last-child {
            .icon {
                &::before {
                    width: 24px;
                    height: 24px;
                    border-color: var(--color-success);
                }
            }
            .description {
                .content {
                    font-size: 1.8rem;
                    color: var(--color-success);
                }
            }
        }
    }
}
