.timeline {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    .time-node {
        display: flex;
        justify-content: flex-start;
        gap: 16px;
        .icon {
            position: relative;
            width: 32px;
            span {
                position: absolute;
                z-index: 1;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--color-white);
                font-size: 1rem;
            }
            &::before {
                content: '';
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 2px;
                height: 100%;
                background-color: var(--color-shadow);
            }
            &::after {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background: var(--color-shadow);
            }
        }
        .description {
            text-align: left;
            margin: 8px 0;
            .content {
                font-size: 1.4rem;
                font-weight: 600;
                color: var(--color-text);
            }
            .time {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                gap: 4px 12px;
                span {
                    font-size: 1.4rem;
                    font-weight: 500;
                    color: var(--color-shadow);
                }
            }
        }
        &:last-child {
            .icon {
                span {
                    color: var(--color-white);
                    font-size: 1.4rem;
                }
                &::after {
                    width: 28px;
                    height: 28px;
                    background-color: var(--color-success);
                }
            }
            .description {
                .content {
                    font-size: 1.8rem;
                    color: var(--color-success);
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .timeline {
        .time-node {
            flex-direction: row-reverse;
            .description {
                text-align: right;
                .time {
                    justify-content: flex-end;
                }
            }
        }
    }
}
