.wrapper.active {
    right: 0;
}

.wrapper {
    position: fixed;
    top: 0;
    right: -100%;
    padding: 12px;
    width: 100%;
    max-width: 500px;
    height: 100vh;
    z-index: 999;
    background: #fff;
    overflow: auto;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    -ms-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
    .header {
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
            font-size: 1.6rem;
            font-weight: 600;
            color: #333;
            letter-spacing: 0;
        }
    }
    .body {
        list-style: none;
        li {
            width: 100%;
            margin-bottom: 12px;
            p {
                margin-bottom: 6px;
                font-size: 1.4rem;
                color: #333;
            }
        }
    }
    .footer {
        width: 100%;
        img {
            margin-top: 12px;
            width: 100%;
        }
    }
}

@media (min-width: 1024px) {
    .wrapper {
        padding: 16px;
        .header {
            span {
                font-size: 2rem;
            }
        }
        .body {
            li {
                margin-bottom: 16px;
                p {
                    font-size: 1.4rem;
                }
            }
        }
        .footer {
            img {
                margin-top: 16px;
            }
        }
    }
}

.method {
    display: flex;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #dadada;
    .image {
        position: relative;
        width: 64px;
        height: 64px;
        flex-shrink: 0;
        img {
            position: absolute;
            inset: 8px;
            width: calc(100% - 16px);
            height: calc(100% - 16px);
            object-fit: contain;
        }
    }
    .text {
        flex-grow: 1;
        flex-shrink: 1;
        padding: 8px 0;
        width: 100%;
        p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            font-size: 14px;
            color: #212121;
            font-weight: 600;
            &:last-child {
                margin-top: 8px;
                color: #757575;
                font-weight: 400;
            }
        }
    }
    .payment-list {
        width: fit-content;
        display: flex;
        align-items: center;
        margin-right: 6px;
        img {
            height: 26px;
        }
    }
    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        height: 100%;
        font-size: 2rem;
        color: #333;
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        cursor: pointer;
        &:hover {
            background-color: #eee;
        }
    }
}

.method + .method {
    margin-top: 12px;
}

@media (min-width: 1024px) {
    .method {
        height: 80px;
        .image {
            width: 80px;
            padding-top: 100%;
            img {
                inset: 16px;
            }
        }
        .text {
            flex-shrink: 1;
            padding: 8px 0;
            width: 100%;
        }
        .payment-list {
            img {
                margin-left: 14px;
            }
        }
    }
}
