.address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    .row {
        width: calc(100% / 3);
    }
}

@media (max-width: 640px) {
    .address {
        flex-wrap: wrap;
        .row {
            width: 100%;
        }
    }
}

.row {
    position: relative;
    padding-top: 14px;
    user-select: none;
    .label {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 8px;
        padding: 2px 8px;
        color: var(--color-shadow);
        background-color: var(--color-white);
        font-weight: 500;
        .required {
            margin-left: 4px;
            color: var(--color-red);
        }
    }
    .input {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 4px 8px;
        width: 100%;
        background-color: var(--color-white);
        border: 1.5px solid var(--color-shadow);
        border-radius: 6px;
        input {
            padding: 8px;
            width: 100%;
            color: var(--color-text);
            font-family: 'Montserrat', sans-serif;
            font-size: 1.6rem;
            font-weight: 500;
            background-color: transparent;
            border: none;
            outline: none;
        }
        .eye-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4px;
            font-size: 2rem;
            color: var(--color-shadow);
            cursor: pointer;
        }
    }
}
