.header {
    height: 64px;
    box-shadow: 0 2px 4px 1px #8a8a8a;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 1200px;
}
