@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'normalize.css';

:root {
    --color-primary: #ff5221;
    --color-secondary: #ffa534;
    --color-hover: #ffcc8f80;
    --color-text: #292929;
    --color-border: #dddddd;
    --color-shadow: #969696;
    --color-red: #db1120;
    --color-orange: #f46200;
    --color-gold: #fcc201;
    --color-green: #0c713d;
    --color-blue: #1870d5;
    --color-violet: #8800c7;
    --color-black: #191919;
    --color-white: #ffffff;
    --color-dark: #393939;
    --color-light: #f6f6f6;
    /* --color-background: #eaf0f8; */
    --gradient-primary: linear-gradient(to bottom, #ffa534 0%, #ff5221b3 100%);
    --gradient-brown: linear-gradient(45deg, #c68e39, #fbfbbb);
    --gradient-pink: linear-gradient(45deg, #fde8e7, #fff5f4);

    --toastify-color-light: #ffffff !important;
    --toastify-color-dark: #191919 !important;
    --toastify-color-info: #3498db !important;
    --toastify-color-success: #0b990f !important;
    --toastify-color-warning: #fcc201 !important;
    --toastify-color-error: #db1120 !important;
    --toastify-toast-width: 400px !important;
    --toastify-text-color-light: #595959 !important;
    --toastify-text-color-dark: #ffffff !important;
    --toastify-font-family: 'Montserrat', sans-serif !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    /* line-height: 1.5; */
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}

/* Scrollbar */

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #00000026;
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #00000000;
}

/* Placeholder */

::placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-shadow);
}
::-moz-placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-shadow);
}
::-webkit-input-placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-shadow);
}

/* Other */

ul {
    list-style: none;
}
a[href] {
    text-decoration: none;
}
